.header {
    background: $site-primary-color;
    margin-bottom: 1.45rem;

    .container {
        padding: 1.45rem 1.0875rem;
    }

    h1 {
        margin: 0;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        li {
            list-style: none;
            margin: 0;
            padding-left: 30px;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}