// Global Variable Definitions
@import "variables";

// Header Styles
@import "components/header";
@import "components/side_nav";

.container {
    margin: 0 auto;
    max-width: 1920px;
    width: 90%;
}